.demo-header {
  background: var(--cds-global-color-blue-1000);
  color: var(--cds-global-color-gray-0);
}
.demo-content {
  background: var(--cds-global-color-gray-200);
}

.datagrid-gen-view{
  margin: auto;
  width: 97%;
  margin-top: 20px;

  .heading-text{
    margin-left: 13px;
    font-weight: 400;
  }

  .horizontal-bar{
    margin-top: 10px;
    margin-bottom: 25px;
  }

  .btn{
    margin-left: 2px;
    margin-right: 2px;
    font-weight: 700;
  }

  .badge{
    transform: scale(0.45, 0.45);
    margin-right: 0px;
    margin-left: 0px;
  }

  .blue-text{
    color: rgb(0, 114, 163);
  }

  .products-table {
    min-height: 25rem;
  }
}

.title-bar {
  display: flex;
  flex: auto;
  height: 1rem;
  align-items: center;
  flex-direction: row;
  align-content: baseline;
  justify-content: flex-start;
  font-size: 1rem;
  margin-top: 10px;
  margin-bottom: 10px;
}




